<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
</head>
<md-content layout-padding>
    <h1>Cadastro de Familia</h1>
</md-content>
<md-content layout-padding>
    <div ng-cloak>
        <md-content>
            <md-tabs class="md-primary" md-center-tabs>
                <md-tab label="Geral"></md-tab>
                <md-tab label="Membros"></md-tab>
                <md-tab label="Benefícios"></md-tab>
                <md-tab label="Gastos"></md-tab>
                <md-tab label="Endereço"></md-tab>
                <md-tab label="Empregos"></md-tab>
                <md-tab label="Outros"></md-tab>
            </md-tabs>
        </md-content>
    </div>
</md-content>
</div>
</body>
</html>